$primary-color: #5e454b;
$secondary-color: #d8b384;
$light-bg-color: #f3f0d7;
$light-color: #cee5d0;




// Theme 1
$theme-color-dark: #5e454b;
$theme-color-medium: #d8b384;
$theme-color-light: #cee5d0;
$theme-color-lightest: #f3f0d7;
$theme-color-more-lightest: #f8f6e7;

// helper colors
$white-color: #fff;
$lightest-color: #f6f6f6;
$gray-color: #f8f8f8;