
.App {
    .MuiButton-containedPrimary {
        background-color: $primary-color !important;
    }

    .MuiButton-containedPrimary:hover {
        background-color: #353535 !important;
    }


    .MuiList-padding {
        padding: 0 !important;
    }

    .MuiCard-root {
        overflow: initial;
        background: $theme-color-more-lightest;
        box-shadow: none;
        border-bottom: 1px solid #0000000f;

        &:last-child {
            padding-bottom: 5px;
        }
    }

    .MuiCardContent-root:last-child {
        padding-bottom: 0;
    }

    .MuiFilledInput-root {
        background: $gray-color
    }

    .MuiSelect-select.MuiSelect-select {
        padding: 10px;
        text-transform: capitalize;
        option {
            background: $light-bg-color;
        }
    }

    .MuiChip-colorPrimary {
        background: $primary-color;
    }

    .MuiChip-colorSecondary {
        background: $secondary-color;
    }

    .MuiRadio-colorPrimary.Mui-checked {
        color: $primary-color;
    }

    .MuiRadio-colorSecondary.Mui-checked {
        color: $secondary-color;
    }

    .MuiFilledInput-underline:before,
    .MuiInput-underline:before {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .MuiFormGroup-root {
            flex-direction: row;
    }
}