.board {
  background-color: #fafafa;
  padding: 1rem;

  .income-expense-area {
    font-size: 2rem;
    background: #f7eced;
    padding: 1rem;
    position: relative;
    border-radius: 8px;
    margin: 0.5rem;

    &.income {
      background: #e5f3ed;
    }

    strong {
      font-size: 1rem;
      position: absolute;
      top: 5px;
    }

    .total-income-amount {
      display: block;
      margin-top: 0.5rem;
      color: $primary-color;
    }
  }
}
